<section>
    <!-- <form fxLayout="column" fxLayoutAlign="center center" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" fxLayoutGap="1.5em"> -->
        <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()" [formGroup]="loginForm" fxLayoutGap="1.5em">
        <h1>Connexion</h1>
           
        <!-- <mat-form-field hintLabel="Votre email">
            <input 
                type="mail" 
                placeholder="Email" 
                matInput ngModel 
                name="email"
                #emailInput="ngModel"
                email
                required
            >
            <mat-error *ngIf="!emailInput.hasError('required')">Email non valide</mat-error>
            <mat-error *ngIf="emailInput.hasError('required')">Ce champ doit être renseigné</mat-error>
        </mat-form-field> -->

        <mat-form-field hintLabel="Votre email">
                <input 
                    type="mail" 
                    placeholder="Email" 
                    matInput  
                    formControlName="email"
                >
            </mat-form-field>

        <!-- <mat-form-field hintLabel="Votre mot de passe">
            <input 
                type="password" 
                placeholder="Mot de passe" 
                matInput ngModel 
                name="password"
                #passwordInput="ngModel"
                required
                minlength="6"
            >
            <mat-error *ngIf="passwordInput.hasError('required')">Ce champ doit être renseigné</mat-error>
            <mat-error *ngIf="passwordInput.hasError('minlength')">Le mot de passe comporte au moins 6 caractères</mat-error>
            <mat-hint align="end">{{ passwordInput.value?.length }}/6</mat-hint> -->
        <!-- </mat-form-field> -->

        <mat-form-field hintLabel="Votre mot de passe">
                <input 
                    type="password" 
                    placeholder="Mot de passe" 
                    matInput 
                    formControlName="password"
                >
                <!-- <mat-hint align="end">{{ passwordInput.value?.length }}/6</mat-hint> -->
            </mat-form-field>

        
       
        
        


        <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Connexion</button>
    </form>
</section>
