<mat-nav-list>
        <a routerLink="/signup" mat-list-item (click)="onClose()"><mat-icon>face</mat-icon><span> Inscription</span></a>
        <a routerLink="/login" mat-list-item (click)="onClose()"><mat-icon>input</mat-icon><span> Connexion</span></a>
        <a routerLink="/training" mat-list-item (click)="onClose()"><mat-icon>fitness_center</mat-icon><span> Entrainement</span></a>
        <a mat-list-item (click)="onClose()"><mat-icon>eject</mat-icon><span> Déconnexion</span></a>
    </mat-nav-list>
