<mat-toolbar color="primary">
        <div fxHide.gt-xs>
            <button (click)="onToggleSidenav()"><mat-icon>menu</mat-icon></button>
        </div>
        <div><a routerLink="/">FITNESS</a></div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout class="nav-items" fxLayoutGap="0.8em">
                <li *ngIf="!isAuth">
                    <a routerLink="/signup">S'inscrire</a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Se connecter</a>
                </li>
                <li *ngIf="isAuth">
                    <a routerLink="/training">Entrainement</a>
                 </li>
                 <li *ngIf="isAuth">
                    <a routerLink="/calories">Alimentation</a>
                 </li>
                 <li *ngIf="isAuth">
                     <a (click)="onLogout()" style="cursor:pointer">Déconnexion</a>
                 </li>
            </ul>
        </div>
    </mat-toolbar>