<!-- <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Cliquez-ici</button>
<mat-icon aria-label="Example home icon">home</mat-icon>
<a href="#"><mat-icon aria-label="Example edit icon">edit</mat-icon></a> -->

<mat-sidenav-container>
    <mat-sidenav role="navigation" #sidenav>
            <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


