<main class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="40px" >
    <section class="welcome">
        <h3>Activités</h3>
        <p>Restez actif et faites de l'exercice en vous amusant !</p>
        <a routerLink="/training"><button type="submit" mat-raised-button color="warn">Commencer</button></a>
    </section>
    <section class="welcome">
        <h3>Alimentation</h3>
        <p>Calculez le nombre de calories consommées</p>
        <a routerLink="/calories"><button type="submit" mat-raised-button color="accent">Commencer</button></a>
    </section>
    
    
</main>


